
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overscroll-behavior-y: none;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #101010;
}

.stream {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.twitch_top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.discord_login {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.discord_icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.discord_button {
  margin-right: 10px; /* 右側の余白を設定 */
  background-color: #7289da; /* Discordの紫色 */
  color: white;
  border: none;
  border-radius: 4px; /* 角の丸み */
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.discord_button:hover {
  background-color: #5b6eae; /* ホバー時の色変更 */
}

.sub-video {
  width: 100%;
  height: 203px;
}

.chatbox_wrapper {
  width: 100%;
  flex-grow: 1;
}

.chatbox {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .main-content {
    flex: 1;
  }

  .sidebar {
    width: 360px;
    height: 100vh;
  }
}

@media only screen and (max-width: 767px) {
  .main-content {
    order: 1;
  }

  .sidebar {
    order: 2;
    flex-grow: 1;
    width : 100%;
  }

  .sub-video {
    display: none;
  }
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
  .sidebar {
    display: none;
  }
  .sub-video {
    display: none;
  }
}